html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	/* border: 0; */
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
    }

header {
    text-align: center;
}

.head {
    height: 10vh;
    width: 95%;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
}

h1 {
    font-size: 3rem;
    width: 15%;
    min-width: 15rem;
}

nav {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

nav a {
    display: inline-block;
    width: 5%;
    padding: 1%;
    margin: 0 1%;
    text-align: center;
    border-radius: 20px;
    background: black;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background: #6486c4;
    transition: .5s;
}

.head-image {
    background-image: url("https://stillmed.olympic.org/media/Images/OlympicOrg/News/2019/12/11/2019-12-11-mountain-day-featured-01.jpg");
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    margin: 2% 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 6rem;
}

.projects {
    width: 10%;
    font-size: 1.2rem;
    border:0px;
    padding: 1%;
    border-radius: 20px;
    margin: 2%;
    background: black;
    color:white;
}

.projects:hover {
    background: white;
    color: black;
    transition: .5s;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-image {
    margin: 5%;
    text-align: center;
}

h3 {
    margin-top: 8%;
    font-size: 2rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #6486c4;
    text-align: center;
    height: 20vh;
}

.contact {
    width: 15%;
    margin: 2%;
    font-size: 2rem;
    border: 0px;
    border-radius: 20px;
    padding: 2%;
}

.contact:hover {
    color: white;
    background: #023584;
    transition: .3s;
}

/* adjusted styling for 800px width */

@media (max-width: 800px){

    nav a {
        width: 15%;
        padding-top: 2%;
    }

    .projects {
        width: 25%;
    }

    .contact {
        width: 30%;
        height: 10%;
        text-align: center;
        line-height: 10%;
    }

    footer {
        align-items: center;
    }

}

/* adjusted styling for 500px width */

@media (max-width: 500px) {

    h1 {
        text-align: center;
        width: 100%;
        font-size: 4rem;
    }

    .head {
        display: flex;
        flex-direction: column;
        margin: 1% auto;
    }

    nav {
        flex-direction: column;
        align-items: center;
        margin-top: 30%;
    }

    nav a {
        width: 30%;
        margin: 1%;
        padding-bottom: 2%;
    }

    .head-image {
        margin-top: 35%;
        max-height: 250px;
        border-radius: 40px;
    }

    h2 {
        font-size: 3rem;
    }

    .projects {
        width: 40%;
        background: white;
        color: black;
    }

    .projects:hover {
        background: black;
        color: white;
        transition: .5s;
    }

    .contact {
        font-size: 1rem;
        width: 25%;
    }

    main {
        justify-content: space-evenly;
    }

    main img {
        width: 200px;
    }

    h3 {
        font-size: 1.4rem;
    }

    footer {
        height: 15vh;
    }


}